/*  your css code here. If applicable */
 /* body {
  
  background-color: #f5f5f5;
  
} */
.testimonial-section{
	background-color:#f5f5f5;
	padding:20px;
}
.testimonial {
  padding: 20px;
  background-color: white;
   border: 1px solid #ddd;	
 
}

.text {
  /* font-size: 16px;
  color: #333;
  line-height: 1.5; */

	text:normal;
}

.author{
	text-align: right;
  font-style: italic;
  /* color: #555;
  margin-top: 10px; */
}